In [11]:
import pandas as pd
import numpy as np
import json
import pandas as pd
import re
from rdkit import Chem
from rdkit.Chem import AllChem
from collections import Counter,defaultdict
from ast import literal_eval
import cobra
from cobra import Metabolite,Reaction,Gene
from tqdm import tqdm
import random
import pickle
from multiprocessing import Pool

import sys
# sys.path.append('../Script/')
from common import *
# from check_newinfo_getyeast8U import *

# get Yeast-MetaTwin without lipids

In [12]:
### input
yeast870_path =  '../../Data/model/Yeast-MetaTwin.yml'

cut_off = 0.3
num = 'all'
num_process = 50
cut_off_path = f'../../Results/lipid/top{num}_{cut_off}_re/'
metabolites_info_to_GEM_path = cut_off_path + f'metabolites_info_to_GEM_top{num}_{cut_off}_del.csv'
rxndb_total_info_to_model_path = cut_off_path + f'rxndb_total_info_to_model_top{num}_{cut_off}_del.csv'
yeast8_reaction_in_rxndb_json = cut_off_path + f'yeast8_reaction_in_rxndb_top{num}_{cut_off}.json'

### output
yeast8U_withlipids_path = '../../Data/model/Yeast-MetaTwin-lipid.yml'

In [13]:
rxndb_total_info_to_model = pd.read_csv(rxndb_total_info_to_model_path)
rxndb_total_info_to_model.shape

(51340, 8)

In [14]:
metabolites_info_to_GEM = pd.read_csv(metabolites_info_to_GEM_path)
print(metabolites_info_to_GEM.shape)
metabolites_info_to_GEM.head(5)

(37751, 4)

,new_met_smiles,sim_smile,ID,compartment
0,CCCCCCCCCCCCCCCCCC(=O)OC(COC(=O)CCCCCCCCCCCCCC...,,sl_1,c
1,CCCCC=CCCCCCCCC(=O)OC(COC(=O)CCCCCCCCCCCCC)COP...,,sl_2,c
2,Nc1ncnc2c1ncn2C1OC(COP(=O)([O-])OP(=O)([O-])OC...,Nc1ncnc2c1ncn2C1OC(COP(=O)(O)OP(=O)(O)OCC2OC(O...,s_3760,c
3,CCCCCCCCCCCCCCCCCCCCCC(O)=NC(CO)C(O)C(O)CCCCCC...,,sn_282,c
4,CCCC=CCCCCCCCCCC(=O)OC(COC(=O)CCCCCCC/C=C/CCCC...,,sl_4,c

In [15]:
get_yeast8U(metabolites_info_to_GEM_path,rxndb_total_info_to_model_path,yeast8_reaction_in_rxndb_json,yeast870_path,yeast8U_withlipids_path)

(37751, 4)
(51340, 8)
(51340, 8)
(51340, 8)

100%|██████████| 51340/51340 [14:27<00:00, 59.18it/s]

In [16]:
yeast8U_mod = cobra.io.load_yaml_model(yeast8U_withlipids_path)
yeast8U_mod.summary()